<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>

  <body class="m-5">
    <h1 class="text-center text-4xl">Add Task</h1>
    <div class="flex flex-col text-center w-1/2 mx-auto p-2 mt-4">
      <input
        type="text"
        placeholder="Type Youre Title Task 😇"
        class="rounded pl-2 p-4 border focus:outline-none focus:ring focus:ring-violet-100 text-center text-xl"
      />
      <button
        class="rounded bg-indigo-400 p-3 text-white uppercase focus:ring focus:ring-violet-100
        ease-linear duration-300 m-1"
      >
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>

    <h1 class="text-center text-4xl m-2">List Task</h1>
    <div class="m-2 text-center">
      <input
        type="text"
        placeholder="Filter task by title 💡"
        class="rounded pl-2 p-2 border focus:outline-none focus:ring focus:ring-violet-100 text-center text-xl ease-linear duration-200"
      />
    </div>
    <ul class="w-2/3 p-1 mx-auto">
      <li class="flex justify-between	 capitalize p-2 border-b">
        <div class="flex gap-3 items-center">
          <input 
           class=" appearance-none
           border rounded checked:bg-indigo-500
           checked:border-none
           checked:animate-none
           p-3 mt-1 ease-linear duration-300 animate-bounce" 
          type="checkbox" id="1" />
          <label class="cursor-pointer 
          line-through text-2xl" for="1">this is my first task </label>
        </div>
        <div>
          <button class="rounded mt-1 p-1 px-2  bg-red-500 text-white 
          focus:outline-none focus:ring focus:ring-red-100 ease-linear duration-300">
            <i class="fas fa-trash"></i>
          </button>
          <button
          class="rounded mt-1 p-1 px-2  bg-orange-400 text-white
          focus:outline-none focus:ring focus:ring-orange-100 ease-linear duration-300
          ">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="flex justify-between	 capitalize p-2 border-b">
        <div class="flex gap-3 items-center">
          <input 
           class=" appearance-none
           border rounded checked:bg-indigo-500
           checked:border-none
           checked:animate-none
           p-3 mt-1 ease-linear duration-300 animate-bounce" 
          type="checkbox" id="1" />
          <label class="cursor-pointer 
           text-2xl" for="1">this is my second task </label>
        </div>
        <div>
          <button class="rounded mt-1 p-1 px-2  bg-red-500 text-white 
          focus:outline-none focus:ring focus:ring-red-100 ease-linear duration-300">
            <i class="fas fa-trash"></i>
          </button>
          <button
          class="rounded mt-1 p-1 px-2  bg-orange-400 text-white
          focus:outline-none focus:ring focus:ring-orange-100 ease-linear duration-300
          ">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </li>
    </ul>
  </body>
</html>
